window.config={"restApiId":"${RestApiId}","region":"${Region}","identityPoolId":"${IdentityPoolId}","userPoolId":"${UserPoolId}","userPoolClientId":"${UserPoolClientId}","userPoolDomain":"${UserPoolDomain}","feedbackEnabled":"${FeedbackEnabled}","apiGatewayCustomDomainName":"${ApiGatewayCustomDomainName}", "userLoginUrl":"${USER_LOGIN_URL}", "userLogoutUrl":"${USER_LOGOUT_URL}", "mnoLoginUrl":"${MNO_LOGIN_URL}", "mnoLogoutUrl":"${MNO_LOGOUT_URL}" , "thirdPartyLoginUrl":"${THIRD_PARTY_LOGIN_URL}", "thirdPartyLogoutUrl":"${THIRD_PARTY_LOGOUT_URL}" }