window.config={"restApiId":"${RestApiId}","region":"${Region}","identityPoolId":"${IdentityPoolId}","userPoolId":"${UserPoolId}","userPoolClientId":"${UserPoolClientId}","userPoolDomain":"${UserPoolDomain}","feedbackEnabled":"${FeedbackEnabled}","apiGatewayCustomDomainName":"${ApiGatewayCustomDomainName}"}